html{
	background-color:#74AFAD;
}

.projectInfoHeader {
	text-align: center;
	margin-bottom:2vh;
	margin-top:2vh;
}

.projectInfoTechnologies{
	text-align: center;
}

#bodyTabsContainer{
	min-height:60vh;
}

.arrow {
    cursor: pointer;
    display: block;
    height: 100px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 7vw;
    z-index: 5; 
}
.arrow.prev {
   background-image: url("img/arrow-left.png");
    left: 1%;
	background-size:cover;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    background-image: url("img/arrow-right.png");
	opacity: 0.2;
    right: 1%;
	background-size: cover;
    transition: all 0.2s linear 0s;
}

#header-pull-right {
	text-align: right;
	font-size: 10pt;
	color: red;
	width:20vw;
	margin-right:2vw;
	height:100%;
}

#homelink {
	color:black!important;
	text-decoration: none!important;
}

#siteHeader{
	font-size: 2em;
	font-weight: lighter;
	font-family: georgia,"times new roman",times,serif;
	font-style: italic;
	margin: 0 2em 0 0;
	display: block;
	height:100%;
}



#siteHeaderTextContainer{
	width:75vw;
	display: inline-block;
	height:100%;
	margin: 0.5em 0 0.5em 0.5em;
}

#siteheaderEmContainer {
	display: block;
	width:100%;
}

#siteheaderEm, #siteheaderEmContainer{
	color: #4C4C4C;
}

#project-coming-soon a, #project-coming-soon a:active, #project-coming-soon a:hover{
	color:white!important;
	background-color:gray!important;
	cursor:default;
}
 
.nav > a, .projectListElement > a {
	/*
	text-decoration: none!important;
	background-color:gray!important;
	*/
	color:#FFFFFF!important;
	
}

.dropdown-item  > a:hover{
	color:#74AFAD!important;
}

.nav a:active
 {
	background-color:black!important;
	color:#0066FF!important;
}

.navbar-nav > li > a:hover {
	background-color:#0066FF!important;
	color:white!important;
}

	.projectListElement a {
		background-color: #669999!important;
	}
	
	.projectListElement a:active  {
		background-color: red!important;
	}
	
	.projectListElement a:hover  {
		background-color: #0066FF!important;
	}


	

li.hover a {
	color:#0066FF!important;
}
li.active a {
	color:#0066FF;
}


/*
.projectTabs li.active a{
	background-color: #669999!important; 
	color:blue!important;
}
*/

#projectListLabel{
	width:50vw;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight: bold;
	margin-top:1vh;
}

.projectListElement{
	width:32%!important;
	text-align:center!important;
}

#projectList{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

body {
	float:left;
	background-color:white;
	width:100%;
	font-family: Helvetica,Arial;
	font-size: 10pt;
}

.nav > li {
	list-style:none;
	display:inline-block;
}

.thumbswrapper > li {
	list-style:none;
	display:inline;
}

.navbarCollapse > ul, .projectTabs > ul{
	padding:0;
	margin:0;
	white-space:nowrap;
}

/*
.nav{
	clear: left;
}
*/

.navbar {
	margin-top:20px;
}

header, h1{
	margin: 0;	
}

page-header > header{
	background-color:#74AFAD;
	color: white;
	min-height: 30px;
}

#siteHeadContainer{
	margin:0;
	width:100%;
	clear:both;
	padding: 10px 0 0 10px;
}


h4{
	margin:0;
}

.projectInfo {
	float: left;
	width: 90%;
	margin-left:5%;
	margin-right:5%;
}

.projectInfoContainer {
	float:left;
	display:block;
}



.thumbnail {
    height:10vh;
    padding:2px;
}

.largecontainer {
	width:70.75vw;
	height: 48vh;
	text-align: center;
}

.large {

	margin: 0 auto;
	height:48vh;
	width:auto;
	max-width:70.75vw;
	display: inline-block;
}

.mainimageshell {
    background-color:#fff;
    float:left;
	width:80%;
	height:50vh;
	
	border-style: solid;
    border-width: 0.1vw;
	border-color:gray;
	margin:0 0.1% 0.1% 0;
    padding:0.1%;
}

.viewwindow {
	width:100%;
	height:100%;
    overflow-x: hidden;
    position:relative;
}

#fullscroller{
	width:100%;
	height:100%;
}

.fullsizelist{
    position:absolute;
    top:0;
    left:0;
    transition:  left .8s ease;
    -ms-transition:  left .8s ease;
    -o-transition:  left .8s ease;
    -webkit-transition:  left .8s ease;
    -moz-transition:  left .8s ease;
}

.bg {
    background-color:#333;
    padding:0.1%; /* black frame*/ 
    border-radius:1px;
    float:left;
	clear: both;
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:1vh;
	margin-bottom:1vh;
}
    

.thumbsshell {
    background-color:#fff;
	width: 100%;
	padding:0.1%;
	border-style: solid;
    border-width: 0.1vw;
	border-color:gray;
    float:left;
}

.thumbswrapper {
    overflow-x: auto;
	width: 100%;
    height:100%;
}

.thumbwrapper {
    float:left;
    height:100%;
}

.captionshell {
    background-color:#fff;
	margin:0 0 0 0;
    height:50vh;
    border-style: solid;
    border-width: 0.1vw;
	border-color:gray;
	padding:1%;
    float:left;
	width:19.9%;
}

.caption {
	max-height:100%;
	overflow:auto;
}

.logoshell {
    margin:0 0 0 5px;
    text-align:center;
    background-color:#fff;
    width:175px;
    padding:9px 10px;
    border-radius:8px;
    float:left;
}

.contactInfo{
	display: block;
	float:left;
	width: 60vw;
	margin-top:2vw;
	margin-left:20vw;
	margin-right:20vw;
	clear:right;
}

.homeInfoHeader{
	margin-bottom:1vw;
	text-align:center;
}

.homeInfo{
	text-align:left;
	display: inline-block;
	float:left;
	width: 60%;
	margin-top:2vw;
	margin-right:13%;
	
	clear:right;
}
.homeProfilePicture{
	float:left;
	width:20%;
	display:inline-block;
	margin-left:2%;
	margin-right:3%;
	margin-top:2vw;
}

.linkedincontainer, #linkedincontainermain{
	position:relative;
	float:left;
	width:30%;
	margin-left:35%;
	margin-right:35%;
}


footer {
	float:left;
	display:block;
	height:20vh;
	position:relative;
	bottom:0;
	background-color:#74AFAD;
	color:white;
	width:100%;
	
}

footer .footerContent {
	margin-left:25%;
	margin-right:5%;
	margin-top:5vh;
	text-align: left;
}

/*********************************************************************************KARUSELL**********************************************************************************/
 h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.carousel-container .item{
    background: #333;    
    text-align: center;
	width:100%;
	height:100%;
}

.carousel-container .item img {
	width:auto;
	max-height:100%!important;

	margin-right: auto;
	margin-left:auto;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%); 
    -ms-transform:  translate(-50%, -50%);
}

.carousel-container .item .imgContainer{
position:relative;
height:70%;
}

.carousel-container{
	margin-left:5%;
	margin-right:5%;
	margin-bottom:10px;
	display:block;
	width:90%;
	height:500px;
	float:left;
}

.carousel{
height:500px;
}

#myCarouselInfoContainer{
margin: 0 0.5% 0 0!important;
padding:0.5%;
height:30%;
background-color:#74AFAD;
color:black;
opacity: 0.8;
}

.carousel-control{
height:100%;
}

.carousel-inner{
height:100%;
}

.carousel-indicators {
	
	bottom:0!important;
	margin-bottom:0!important;
}



/*********************************************************************************MEDIA QUERY**********************************************************************************/
@media only screen and (max-width : 640px) {

	.carousel-container{
		height:400px;
	}

	.carousel{
		height:400px;
	}

	.homeInfo
	{
		text-align:left;
		display: block;
		float:left;
		width: 60%;
		margin-top:2vw;
		margin-right:20%;
		margin-left:20%;
		clear:right;
	}
	
	.homeProfilePicture{
		float:left;
		width:50%;
		display:block;
		margin-left:25%;
		margin-right:25%;
		margin-top:2vw;
	}

	#projectList{
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	.projectListElement{
		width:100%!important;
		text-align:center!important;
	}

	#menu-icon {
		display:inline-block;
	}

	.navbarCollapse > ul{ 
		position: relative;
		display:inline-block;
		width: 100%;
		margin:0;
		clear:both;
		white-space: nowrap;
	}

	header > li, .nav > li {
		text-align: center;
		width: 100%;
		padding: 0 0;
		margin: 0;
		clear:both;
		white-space: nowrap;

	}
	.projectTabs > li {
		text-align: left;
		border:none;
		margin-left:0px!important;
		padding:0!important;
		color: #669999!important;
	}
	
	.projectListElement a {
		background-color: #669999!important;
		border-radius:0px;
	}
	
	
	
	section {
		display:block;
		clear:both;
	}
	
	header {
		display:block;
		clear:both;
	}
	
	.contactContainer {
		display:inline-block;
		width:100px;
	}
	
	.bg {
		background-color:#333;
		padding:0.5%;
		border-radius:8px;
		float:left;
		clear: both;
		margin-top:1vh;
		margin-bottom:1vh;
	}

	.mainimageshell {
		background-color:#fff;
		
		height:39vh;
		border-style: solid;
		border-width: 0.1vw;
		border-color:gray;
		margin:0 5% 0.5% 5%;
		width:90%;
		padding:0.1%;
	}

	.captionshell {
		
		background-color:#fff;
		margin:0 0 0.5% 0;
		height:auto;
		border-style: solid;
		border-width: 0.1vw;
		border-color:gray;
		padding:0.5%;
		margin:0 0.5% 0.5% 0;
		float:left;
		width:100%;
	}

	#fullscroller{
		width:100%;
		height:100%;
	}

	.largecontainer {
		display:inline-flex;
		height:100%;
		max-width:100%;
	}

	.large {
		
		max-height:100%;
		height:auto;
		margin: 0 auto;
		width:auto;
		display: inline-block;
	}
}
