<header id="siteHeadContainer">
	<div>
		<h1 id="siteHeader">
			<a id="homelink" href="" ng-click="htctrl.setTab(1)">Alexander Andersson</a>
			<em id="siteheaderEmWebsite"><a id="homelink" href="" ng-click="htctrl.setTab(1)"> - Personal Website</a></em>
		</h1>
	</div>
	<div id="siteheaderEmWebsiteContainer">

	</div>
	<div id="siteheaderEmContainer">
		<em id="siteheaderEm">MSc Computer Science (NTNU), BSc Computer Science (HIALS)</em>
	</div>

	<ul class="nav nav-pills">	
		<li ng-class="{ active:htctrl.isSet(1) }">
		  <a href="" ng-click="htctrl.setTab(1)">Home</a>
		</li>
		<li ng-class="{ active:htctrl.isSet(2) }">
		  <a href="" ng-click="htctrl.setTab(2)">Projects</a>
		</li>
		<li ng-class="{ active:htctrl.isSet(3) }">
		  <a href="" ng-click="htctrl.setTab(3)">Contact</a>
		</li>
	</ul>
	
</header>




