<div>
<header id="fixheader">
<div id="siteHeaderContainer">
<h1 id="siteHeader">
<a id="homelink" href="" ng-click="header.setTab(1)">Alexander Andersson</a>
</h1>
<em id="siteheaderEm">Personal website</em>
</div>

<!--<em id="header-pull-right" class ="pull-right">Personal website</em>-->

<ul class="nav nav-pills">
			
            <li ng-class="{ active:header.isSet(1) }">
              <a href="" ng-click="header.setTab(1)">Home</a>
            </li>
            <li ng-class="{ active:header.isSet(2) }">
              <a href="" ng-click="header.setTab(2)">Projects</a>
            </li>
            <li ng-class="{ active:header.isSet(3) }">
              <a href="" ng-click="header.setTab(3)">Contact</a>
            </li>
          </ul>




</header>


<!-- SECTION TATT HERFRA -->
			</div>

