<style>
	.ng-hide {display: none!important; color:red!important;}
</style>

<div class="projectTabs" ng-controller="ProjectTabCtrl as hc" ng-cloak>
	
	
	<div ng-if="pid!='1' && pid!='2'">
		<div id="projectListLabel">Select a project:</div>
		<ul id="projectList" class="nav nav-pills">
			<li class="projectListElement" > <!-- ng-class="{ active:hc.isSet(1) }" -->
				<a href="projects.html?pid=1" target="_self">Master Project</a> <!-- ng-click="hc.setTab(1)" -->
			</li>
			<li class="projectListElement">
				<a href="projects.html?pid=2" target="_self">Specialisation Project</a>
			</li>
			<li class="projectListElement" id="project-coming-soon" ng-class="">
				<a href="" ng-click="">Coming soon</a>
			</li>
		</ul>
	</div>
   
   
   
	<div ng-if="pid=='1'">
	
	<h4 class="projectInfoHeader">Master Project: The Molecular Modeling Language GEMAL</h4>	
	<p class="projectInfoTechnologies"><strong>Main technologies used:</strong> Troux Architect (Metis), C++</p>
	
	<div class="carousel-container" ng-controller="GalleryController">
				
					<div id="projectCarousel2" class="carousel slide" data-interval="5000" data-ride="carousel">
					
					
					
						<!-- Carousel indicators -->
						<ol class="carousel-indicators">
							<li data-target="#projectCarousel2" data-slide-to="0" class="active ng-scope"></li>
							<li data-target="#projectCarousel2" data-slide-to"$index" ng-repeat="image in galleryData1" ng-if="$index > 0"></li>
							<li data-target="#projectCarousel2" data-slide-to"$index" ng-repeat="image in galleryData1" ng-if="$index > 0"></li>
						</ol>   
						

					   <!-- Carousel items -->
						<div class="carousel-inner">
							<div class="item active">
									<div class="imgContainer">
										<img ng-src="{{ IMAGE_LOCATION+1+'/'+galleryData1[0].image }}" class="img-responsive">
									</div>
									<div id="myCarouselInfoContainer"><p>{{galleryData1[0].desc}}</p></div>
							</div>
							<div class="item" ng-repeat="image in galleryData1" ng-if="$index > 0">
								<div class="imgContainer">
									<img ng-src="{{ IMAGE_LOCATION+1+'/'+image.image }}" class="img-responsive">
								</div>
								<div id="myCarouselInfoContainer"><p>{{image.desc}}</p></div>
							</div>
							
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#projectCarousel2" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="carousel-control right" href="#projectCarousel2" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					
					</div>
					
					
		</div>
		
		<div class="projectInfoContainer">
			<p class ="projectInfo">Traditional modelling languages focus on modeling according to a specific modeling perspective,
			e.g. being primarily process-oriented or object-oriented. Even if newer languages such as
			UML and EEML combines several perspectives, they typically do so by combining several
			single-perspective modelling languages. Because of this, the resulting languages are
			large and cumbersome to learn and to use.</p>
			<p class="projectInfo">An alternative approach is so-called holistic modelling languages, where a limited number of
			concepts can be combined in an orthogonal fashion. This project set out to work further on a proposal
			for such a language (GEMAL), implement it in the Troux family of meta-modelling tools (previously 'Metis'), and evaluate it
			through case studies and empirical evaluation techniques.</p>
			<p class="projectInfo">Results of case studies, surveys and expert evaluations based on the implemented prototype indicate that GEMAL's apprach can be beneficial in many contexts, but that it also comes with tradeoffs. While a GEMAL model can avoid restrictions that come with adhering to a specific modeling perspective, the more general notation means that model interpretation can vary greatly from person to person.</p>
		</div>
	
	</div>
   
	<div ng-if="pid == '2'">
		<h4 class="projectInfoHeader">Specialisation Project: Augmented Reality and Serious Games for Learning</h4>
		<p class="projectInfoTechnologies"><strong>Main technologies used:</strong> C#, PHP, MySQL, Unity 3D, Vuforia SDK</p>
		
		<div class="carousel-container" ng-controller="GalleryController">
				
					<div id="projectCarousel1" class="carousel slide" data-interval="5000" data-ride="carousel">
					
					
					
						<!-- Carousel indicators -->
						<ol class="carousel-indicators">
							<li data-target="#projectCarousel1" data-slide-to="0" class="active"></li>
							<li data-target="#projectCarousel1" data-slide-to"$index" ng-repeat="image in galleryData2" ng-if="$index > 0"></li>
						</ol>   
						

					   <!-- Carousel items -->
						<div class="carousel-inner">
							<div class="item active">
									<div class="imgContainer">
										<img ng-src="{{ IMAGE_LOCATION+2+'/'+galleryData2[0].image }}" class="img-responsive">
									</div>
									<div id="myCarouselInfoContainer"><p>{{galleryData2[0].desc}}</p></div>
							</div>
							<div class="item" ng-repeat="image in galleryData2" ng-if="$index > 0">
								<div class="imgContainer">
									<img ng-src="{{ IMAGE_LOCATION+2+'/'+image.image }}" class="img-responsive">
								</div>
								<div id="myCarouselInfoContainer"><p>{{image.desc}}</p></div>
							</div>
							
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#projectCarousel1" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="carousel-control right" href="#projectCarousel1" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					
					</div>
					
					
		</div>


		<div class="projectInfoContainer">
			<p class ="projectInfo">My Specialisation Project (done Fall 2013 at NTNU) was on the topics of 'Augmented Reality' and 'Serious Games for Learning'. The idea was to make a serious game for
			mobile devices that pupils and students could use while visiting a museum or other cultural attraction center as a group. Each player would be assigned paintings that
			they have to locate and scan with their device's camera. After successfully doing so, information, related images and sounds would display in augmented reality around the painting.
			Players were encouraged to browse this media before continuing to the next phase - where they would create questions about the painting for others to answer later. 
			</p>
			<p class="projectInfo">
			This project was focused on the 'Play Game' part of a larger proposed system. It was envisioned that a teacher or other representative would use a website to plan and configure game sessions before
			they commence, and to debrief the players by going through results some time after the play session had ended. Thus the system (including databases, file repositories and communication layers) was implemented
			with such later expansions in mind.
			</p>
		</div>
		
		
	</div>
	



</div>